.title {
    padding: 15px 0px 0px 0px;
    margin: auto;
    width: 300px;
    font-size: 2em;
    color: #003B38;
}

.previous-page {
    display: flex;
    align-items: center;
    margin: 20px 0px 10px 30px;
}

.previous-page > a {
    font-size: 1.8em;
    color: #000000;
    text-decoration: none;
}

section.agenda {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px 0px 10px 30px;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Define 2 colunas com largura igual */
    grid-template-rows: repeat(2, auto); /* Define 2 linhas com altura automática */
    gap: 10px;
    max-width: 250px;
    width: 100%;
}

.form-input {
    border: 1px solid #000000;
    border-radius: 5px;
    width: 200px;
    height: 25px
}

/* Ocultar os botões para aumentar ou diminuir do input telefone */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Para Firefox */
}

.consultation-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0px 0px 5px 5px;
    width: 250px;
    height: 200px;
    background-color: #cbcbcb;
    padding: 10px 0px 0px 10px;
    font-size: 1.4em;
}

.consultation-info > p {
    margin: 0px;
}

#SubmitForm {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em !important;
    color: #ffffff;
    width: 300px !important;
    padding: 12px !important;
    margin: 50px 0px 0px 0px !important;
    background-color: #003B38;
    border-radius: 25px;
    cursor: pointer;
}
